.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.racer_table td {
  background-color: white;
  height: 100px;
  width: 30px;
  border: 1px solid black;
}
 
.racer_table td.active {
  background-color: red;
  border: 2px solid black;
}
 
 
 
.winone {
  color: white;
}
 
 
.wintwo {
  color: white;
}
 
 
.clickme {
  visibility: hidden;
  text-decoration: none;
  color: pink;
 
}
