<h1>WELCOME TO BIG TIME RACER</h1>


<form name="input" action="/game" method="POST">
Player One Name: <input type="text" name="player_one"><br>
Player Two Name: <input type="text" name="player_two"><br>
<input type="submit" value="Submit">
</form>