<h1>TWERK IT GIRL!</h1>


<form class="input" action="/game" method="POST">
<input class="player_box" placeholder="Enter Player One Name" required="required" type="text" name="player1"><br>
<input class="player_box" placeholder="Enter Player Two Name" required="required" type="text" name="player2"><br>
<input class="enter_button" type="submit" value="Submit">
</form>
